body{
	background-image: url("../images/background.png")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}

div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 50%;
}

.instructions {
	background: pink;
}

.numberToGet, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
	background: lightgreen;
}
.userTotal{
	width: 15%;
	height: 60px;
	background: gold;
}
.crystals{
	clear: both;
	background: gainsboro;
}
.crysImage{
	height: 60px;
	margin: 10px;
}

#red{
	color: #ec4b5f;
}
#blue{
	color: #3092c7;
}
#yellow{
	color: #ffc225;
}
#green{
	color: #00aa59;
}